.main {
  padding: 2rem;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  color: #fff;

  .intro {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;

    .heading {
      font-size: 3rem;
      color: #f4f4f4;
      position: relative;
      animation: slideInFromLeft 1.2s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 4px;
        background: #f39c12;
        border-radius: 2px;
      }
    }

    .subheading {
      font-size: 1.5rem;
      color: #ddd;
      animation: slideInFromRight 1.2s ease-in-out;
    }

    p {
      font-size: 1.2rem;
      max-width: 600px;
      margin: 0 auto;
      color: #ccc;
      animation: fadeIn 1.5s ease-in-out;
    }

    .cta {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem; 
      margin-bottom: 2rem; 

      .resumeButton,
      .contactButton {
        padding: 0.8rem 1.5rem;
        border-radius: 50px;
        font-size: 1rem;
        text-decoration: none; 
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
          transform: translateY(-3px);
        }
      }

      .resumeButton {
        background-color: #f39c12;
        color: #fff;

        &:hover {
          background-color: #e67e22;
        }
      }

      .contactButton {
        background-color: #28a745;
        color: #fff;

        &:hover {
          background-color: #218838;
        }
      }
    }
  }

  .projectsSection {
    margin-top: 4rem;
  }

  @media (max-width: 768px) {
    .intro {
      .heading {
        font-size: 2.5rem;
      }

      .subheading {
        font-size: 1.3rem;
      }

      p {
        font-size: 1rem;
      }

      .cta {
        flex-direction: column; 
        align-items: center;

        .resumeButton,
        .contactButton {
          width: 90%; 
        }
      }
    }
  }

  @media (max-width: 375px) {
    .intro {
      .heading {
        font-size: 2rem;
      }

      .subheading {
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
      }

      .cta .resumeButton,
      .cta .contactButton {
        padding: 0.5rem 0.75rem;
        font-size: 0.85rem;
      }
    }
  }
}
