.main {
  padding: 2rem;
  background: linear-gradient(135deg, #1f1c2c, #6a5acd);
  color: #fff;

  .intro {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;

    .heading {
      font-size: 2rem; /* Updated font size */
      color: #f4f4f4;
      position: relative;
      animation: slideInFromLeft 1.2s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 4px;
        background: #f39c12;
        border-radius: 2px;
      }
    }

    .subheading {
      font-size: 1.5rem;
      color: #ddd;
      animation: slideInFromRight 1.2s ease-in-out;
    }

    p {
      font-size: 1.2rem;
      max-width: 600px;
      margin: 0 auto;
      color: #e0e0e0;
      animation: fadeIn 1.5s ease-in-out;
    }

    .cta {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 2rem;

      .resumeButton {
        padding: 0.8rem 1.5rem;
        border-radius: 50px;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background-color: #f39c12;
        color: #fff;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-3px);
          background-color: #e67e22;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }
      }

      .contactButton {
        padding: 0.8rem 1.5rem;
        border-radius: 50px;
        text-decoration: none;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background-color: #6c63ff;
        color: #fff;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-3px);
          background-color: #594aad;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
